<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{.Title}}</title>
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap/css/bootstrap.min.css">
        <script src="/scripts/jquery-3.2.1.min.js"></script>
        <script src="/styles/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    </head>

    <body>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Calculator</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                    </li>
                    <li class="nav-item">
                        <!--<a class="nav-link" href="#">Features</a>-->
                    </li>
                    <li class="nav-item">
                        <!--<a class="nav-link" href="#">Pricing</a>-->
                    </li>
                    <li class="nav-item">
                        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                    </li>
                </ul>

                <div class="btn-group" role="group" aria-label="Language switcher">
                    <button type="button" class="btn {{if eq .Language "en"}} btn-primary {{else}} btn-secondary {{end}}" data-language="en">En</button>
                    <button type="button" class="btn {{if eq .Language "ru"}} btn-primary {{else}} btn-secondary {{end}}" data-language="ru">Ru</button>
                </div>
            </div>
        </nav>

        <div class="container" style="margin-top:3%">
            <div class="card">
                <div class="card-header">
                    <h4>{{.CalculatorTitle}}</h4>
                </div>

                <!-- Calculator navigagion -->
                <div class="card-block" style="margin:1%">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" id="profit-tab">
                            <a class="nav-link active" data-toggle="tab" href="#profit" role="tab">Ethereum profit</a>
                        </li>
                        <li class="nav-item" id="profit-currency-tab">
                            <a class="nav-link" data-toggle="tab" href="#profit-currency" role="tab">Ethereum profit in currency</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="profit" role="tabpanel">
                            <!-- Div for profit chart -->
                            <div id="ether-chart" style="display: none; height: 60%"></div>
                        </div>
                        <div class="tab-pane" id="profit-currency" role="tabpanel">
                            <div id="ether-currency-chart" style="display: none; height: 60%"></div>
                        </div>
                    </div>
                    
                    <!-- Form for ethereum neural network calculator parametrs -->
                    <form class="">
                        <div class="row">
                            <div class="offset-lg-3 col-lg-6 form-group" >
                                <label class="form-control-label" for="hashrate-ethereum-year">Hashrate:</label>
                                <input type="text" id="hashrate" class="form-control" placeholder="Hashrate ethereum H/s"/>
                                
                                <label class="form-control-label" for="power-consumption-ethereum">{{.PowerConsumption}}:</label>
                                <input type="text" id="power-consumption" class="form-control" placeholder="{{.PowerConsumption}}"/>
                                
                                <label class="form-control-label" for="power-cost-ethereum">{{.PowerCost}}:</label>
                                <input type="text" id="power-cost" class="form-control" placeholder="{{.PowerCost}}"/>
                                
                                <label class="form-control-label" for="initial-investment-ethereum">{{.InitialInvestment}}:</label>
                                <input type="text" id="initial-investment" class="form-control" placeholder="{{.InitialInvestment}}"/>
                                
                                <button id="calculate" type="button" class="btn btn-primary" style="margin-top:2%">{{.Calculate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

    <script>
        google.charts.load('current', {'packages':['corechart']});
        var ether_data = null;
        var ether_currency_data = null;
        var options = {
            curveType: 'function',
            legend: { position: 'bottom' }
        };
  
        $(window).resize(function() {
            if(this.resizeTO) clearTimeout(this.resizeTO);
            this.resizeTO = setTimeout(function() {
                $(this).trigger('resizeEnd');
            }, 0);
        });

        $(window).on('resizeEnd', function() {
            draw_charts();
        });

        $(document).on("shown.bs.tab", "#profit-tab, #profit-currency-tab", function () {
            draw_charts();
        });

        function draw_charts() {
            if (ether_data == null || ether_currency_data == null)
                return;
                
            var ether_chart = new google.visualization.LineChart(document.getElementById('ether-chart'));                
            $("#ether-chart").css("display", "");
            ether_chart.draw(ether_data, options);

            var ether_currency_chart = new google.visualization.LineChart(document.getElementById('ether-currency-chart'));                
            $("#ether-currency-chart").css("display", "");
            ether_currency_chart.draw(ether_currency_data, options);
        }

        $("#calculate").click(function() {
            $.get("ethereum_prediction", {
                hashrate: $("#hashrate").val(),
                power_consumption: $("#power-consumption").val(),
                power_cost: $("#power-cost").val(),
                initial_investment: $("#initial-investment").val()
            }, function(resp) {
                obj = $.parseJSON(resp)
                
                ether_data = new google.visualization.DataTable();
                ether_data.addColumn('number', 'X');
                ether_data.addColumn('number', 'Profit');
                for (var i = 0; i < obj["ethereum"].length; i++) {
                    // alert(obj[i]);
                    var val = parseFloat(obj["ethereum"][i]);
                    ether_data.addRow([i, val]);
                }

                ether_currency_data = new google.visualization.DataTable();
                ether_currency_data.addColumn('number', 'X');
                ether_currency_data.addColumn('number', 'Profit');
                for (var i = 0; i < obj["ethereum"].length; i++) {
                    // alert(obj[i]);
                    var val = parseFloat(obj["currency"][i]);
                    ether_currency_data.addRow([i, val]);
                }

                draw_charts();
            });
        });

        $('button[data-language]').click(function(event) {
            var clicked$ = $(event.target);
            var lang = clicked$.attr("data-language");
            $.post("/set_language", {language: lang}, function() {
                location.reload();
            });
        });
    </script>
</html>